<!--    <div class="page-header">
          <h1>Jogador</h1>
        </div>
        <div class="well well-lg">
          <strong>Nome</strong><br>{{jogador.nome}}
        </div>
        <div class="well well-lg">
          <strong>Qualidade</strong><br>
          <span ng-switch on="jogador.rating">
            <span ng-switch-when="1">Péssimo</span>
            <span ng-switch-when="2">Ruim</span>
            <span ng-switch-when="3">Medíocre</span>
            <span ng-switch-when="4">Bom</span>
          </span>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <a href="#/polls" class="btn btn-default" role="button"><span
class="glyphicon glyphicon-arrow-left"></span> Voltar
          </div>
          <div class="col-xs-6">
            <button class="btn btn-primary pull-right" type="submit">Editar &raquo;</button>
          </div>
        </div>
        <p>&nbsp;</p> -->
          <div class="page-header">
          <h1>Editar jogador</h1>
        </div>
        <form role="form" ng-submit="editJogador()">
          <div class="form-group">
            <input type="text" ng-model="jogador.nome" class="form-control" placeholder="Nome" value="{{jogador.nome}}">
          </div>
          <div class="form-group">
            <label>Rating</label>
            <div>
              <label>
                <input type="radio" ng-model="jogador.rating" class="form-control" value="4" /> Bonzinho
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" class="form-control" value="3" /> Medíocre
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" class="form-control" value="2" /> Ruim
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" class="form-control" value="1" /> Péssimo
              </label>
            </div>
          </div>    
            <div class="col-xs-6">
              <button class="btn btn-primary pull-right" type="submit">Editar Jogador &raquo;</button>
            </div>
          </div>
          <p>&nbsp;</p>
        </form>