 <div class="page-header">
          <h1>Jogadores</h1>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <a href="#/novoJogador" class="btn btn-default"><span class="glyphicon 
glyphicon-plus"></span> Novo Jogador</a>
          </div>
          <div class="col-xs-7">
            <input type="text" class="form-control" ng-model="query" 
placeholder="Procurar um jogador">
          </div>
        </div>
        <div class="row"><div class="col-xs-12">
<hr></div></div>
        <div class="row" ng-switch on="jogadores.length">
          <ul ng-switch-when="0">
            <li><em>Nenhum jogador cadastrado. Que tal
 <a href="#/novoJogador">criar um</a>?</li>
          </ul>
          <ul ng-switch-default>
            <li ng-repeat="jogador in jogadores | filter:query">
              <a href="#/jogadores/{{jogador._id}}">{{jogador.nome}} - 
                <span ng-switch on="jogador.rating">
                  <span ng-switch-when="1">Péssimo</span>
                  <span ng-switch-when="2">Ruim</span>
                  <span ng-switch-when="3">Medíocre</span>
                  <span ng-switch-when="4">Bom</span>
                </span></a>
            </li>
          </ul>
        </div>
        <p>&nbsp;</p>