   <div class="page-header">
          <h1>Jogador</h1>
        </div>
        <div class="well well-lg">
          <strong>Nome</strong><br>{{jogador.nome}}
        </div>
        <div class="well well-lg">
          <strong>Qualidade</strong><br>
          <span ng-switch on="jogador.rating">
            <span ng-switch-when="1">Péssimo</span>
            <span ng-switch-when="2">Ruim</span>
            <span ng-switch-when="3">Medíocre</span>
            <span ng-switch-when="4">Bom</span>
          </span>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <a href="#/polls" class="btn btn-default" role="button"><span
class="glyphicon glyphicon-arrow-left"></span> Voltar
          </div>
          <div class="col-xs-6">
            <button class="btn btn-primary pull-right" type="submit">Editar &raquo;</button>
          </div>
        </div>
        <p>&nbsp;</p>