          <div class="page-header">
          <h1>Editar jogador</h1>
        </div>
        <form role="form" ng-submit="editJogador()">
          <div class="form-group">
            <input type="text" ng-model="jogador.nome" class="form-control" placeholder="Nome" value="{{jogador.nome}}">
          </div>
          <div class="form-group">
            <label>Rating</label>
            <div>
              <label>
                <input type="radio" ng-model="jogador.rating" value="4" /> Bom
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" value="3" /> Regular
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" value="2" /> Ruim
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" value="1" /> Péssimo
              </label>
            </div>
          </div>    
            <div class="col-xs-6">
              <button class="btn btn-primary pull-right" type="submit">Editar Jogador &raquo;</button>
            </div>
          </div>
          <p>&nbsp;</p>
        </form>
        <form role="form" ng-submit="deletarJogador()">
            <div class="col-xs-6">
              <button class="btn btn-error pull-right" type="submit">DELETAR Jogador X</button>
            </div>
          </div>
          <p>&nbsp;</p>
        </form>