  <div class="page-header">
          <h1>Cadastrar novo jogador</h1>
        </div>
        <form role="form" ng-submit="createJogador()">
          <div class="form-group">
            <input type="text" ng-model="jogador.nome" class="form-control" 
id="pollQuestion" placeholder="Nome">
          </div>
          <div class="form-group">
            <label>Rating</label>
            <div>
              <label>
                <input type="radio" ng-model="jogador.rating" value="4" /> Bom
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" value="3" /> Regular
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" value="2" /> Ruim
              </label>
              <label>
                <input type="radio" ng-model="jogador.rating" value="1" /> Péssimo
              </label>
            </div>
          </div>    
            <div class="col-xs-6">
              <button class="btn btn-primary pull-right" type="submit">Criar Jogador &raquo;</button>
            </div>
          </div>
          <p>&nbsp;</p>
        </form>