<div class="page-header">
          <h1>Pelada</h1>
        </div>
        <div class="well well-lg">
          <strong>Data da última modificação</strong><br>{{pelada.modified}}
        </div>
        <div class="well well-lg">
          <h3>Jogadores nessa pelada</h3>
          <ul>
            <li ng-repeat="jogador in pelada.jogadores">{{jogador.nome}} (<span ng-switch on="jogador.rating">
                  <span ng-switch-when="1">Péssimo</span>
                  <span ng-switch-when="2">Ruim</span>
                  <span ng-switch-when="3">Regular</span>
                  <span ng-switch-when="4">Bom</span>
                </span>)</li>
          </ul>
        </div>
        <div class="well well-lg">
          <h3>Times</h3>
          <div class="row" ng-switch on="times.length">
            <ul ng-switch-when="0">
              <li>
                <em>O time ainda não foi sorteado.</em>
              </li>
            </ul>

            <ul ng-switch-default>
            <ul>
              <li ng-repeat="time in times">
                <h4>Time {{$index+1}}</h4>
                <ul>
                  <li ng-repeat="jogador in time">{{jogador.nome}} (<span ng-switch on="jogador.rating">
                  <span ng-switch-when="1">Péssimo</span>
                  <span ng-switch-when="2">Ruim</span>
                  <span ng-switch-when="3">Regular</span>
                  <span ng-switch-when="4">Bom</span>
                </span>)</li>
                </ul>
              </li>
            </ul>

          </div>

          <form role="form" ng-submit="tirarTime()">
            <button class="btn btn-primary" type="submit">Tira Time &raquo;</button>
          </form>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <a href="#/" class="btn btn-default" role="button"><span
class="glyphicon glyphicon-arrow-left"></span> Voltar
          </div>
        </div>
        <p>&nbsp;</p>